:root {
  color-scheme: only light;
  background-color: #ffffff;
  color: #1a1a1a;

  --background: #ffffff;
  --foreground: #171717;

  /* 🎨 Colores institucionales de VeraSalud */
  --primary-pink: #EE3594;
  --primary-blue: #21396f;
  --primary-cyan: #3FC1d1;
  --white: #ffffff;
  --gray-light: #f8f9fa;
  --gray-medium: #6c757d;
  --gray-dark: #343a40;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark-fix {
  background-color: #ffffff !important;
  color: #1a1a1a !important;
}

